.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-30%, 30%);

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline-width: 0px;

  cursor: pointer;

  background-color: getColor('background-color');
  &__icon {
    width: 18px;
    height: 18px;

    fill: getColor('primary-text-color');

    .btn-close:hover > & {
      fill: getColor('accent-color');
    }
  }
}
