.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: getColor('background-color');

  padding: 0;

  cursor: pointer;
}

.btn-close__icon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  transition: fill getTiming('timing');

  &:hover {
    fill: getColor('accent-color');
  }
}
