.form {
  &__label:not(:first-child) {
    margin-top: 10px;
  }

  &__label {
    display: flex;
    flex-direction: column;

    width: 100%;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: getColor('title-text-color');

    position: relative;
    margin-top: 4px;
  }

  &__division {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    margin-top: 4px;
  }

  &__input {
    position: relative;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    padding: 11px;
    padding-left: 42px;

    outline: none;

    transition: border-color getTiming('timing');
    font-size: 14px;

    &:hover,
    &:focus {
      border-color: getColor('accent-color');
    }
  }

  &__icon-name {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: fill getTiming('timing');
  }
}

.form__input:focus ~ .form__icon-name,
.form__input:hover ~ .form__icon-name {
  fill: getColor('accent-color');
}

.comment {
  margin-bottom: 20px;
}

.text-area {
  resize: none;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  outline: none;

  padding: 12px 16px;
  margin-top: 4px;

  &:hover,
  &:focus {
    border-color: getColor('accent-color');
  }
}

.comment .text-area::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
