.clients {
  display: flex;
}

.clients__title {
  line-height: 1.16;
  text-align: center;

  @media screen and (min-width: 480px) {
    font-size: 28px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__list {
  @media screen and (min-width: 480px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
  }
}

.clients__item {
  display: inline-flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    &:nth-child(odd) {
      margin-right: 26px;
    }

    &:nth-child(n + 3) {
      margin-top: 30px;
    }
  }
}

.clients__item .clients__link {
  border: 1px solid getColor('icon-social');
  box-sizing: border-box;
  border-radius: 4px;

  transition: border getTiming('timing');
  &:hover {
    border-color: getColor('accent-color');
  }
}

.clients__icon {
  fill: getColor('icon-social');

  transition: fill getTiming('timing');
  @media screen and (min-width: 480px) {
    margin: 15px 51px;
  }
  @media screen and (min-width: 1200px) {
    margin: 16px 32px;
  }
}

.clients__link:hover .clients__icon {
  fill: getColor('accent-color');
}
