.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    @media screen and (max-width: 767px) {
      width: calc((100% - 30px) / 2);

      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);

      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 150px) / 6);
      margin-bottom: 0;

      &:nth-child(3n) {
        margin-right: 30px;
      }

      :last-child {
        margin-right: 0;
      }
    }
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;

    border: 1px solid getColor('icon-social');
    border-radius: 4px;

    fill: getColor('icon-social');
    transition: fill getTiming('timing');

    &:hover,
    &:focus {
      fill: getColor('accent-color');
      border: 1px solid getColor('accent-color');
      cursor: pointer;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    text-align: center;

    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
    }
  }
}
