.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  align-items: center;

  background-color: getColor('header-and-footer-color');
}

.footer__container {
  display: inline-flex;
}
