body {
  background-color: getColor('background-color');
  color: getColor('primary-text-color');
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;

  transition: color getTiming('timing');
}

.link:hover,
.link:focus {
  border-color: getColor('accent-color');
  color: getColor('accent-color');
  fill: getColor('accent-color');
}

.section {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowarp;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
