.social {
  display: block;

  margin-top: 16px;

  fill: getColor('icon-social');

  &__list {
    display: flex;
    @media screen and (max-width: 1199px) {
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      margin: 0 32px 0 32px;

      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    transition: background-color getTiming('timing'), fill getTiming('timing');

    cursor: pointer;

    &:hover {
      background-color: getColor('accent-color');
      fill: getColor('background-color');
    }
  }
}
