.project-filter__list {
  display: flex;

  @media screen and (min-width: 480px) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  font-size: 16px;

  margin-bottom: 50px;
}

.project-filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (max-width: 768px) {
    &:nth-child(n + 4) {
      margin-top: 8px;
    }
  }
}

.project-filter__button {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;

  font-weight: 500;
  line-height: 1.62;

  background-color: getColor('second-background-color');

  cursor: pointer;

  &:hover {
    background-color: getColor('accent-color');
    color: getColor('background-color');

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    transition: background-color getTiming('timing'), color getTiming('timing'),
      box-shadow getTiming('timing');
  }

  &.current {
    background-color: getColor('accent-color');
    color: getColor('background-color');
  }
}
