.footer-social {
  display: block;
  fill: var(--icon-social);

  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 70px;
  }

  &__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: getColor('background-color');
  }

  &__list {
    display: flex;

    @media screen and (min-width: 480px) {
      justify-content: center;
      margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin: 20px 0 0 0;
    }
  }

  &__item {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    fill: getColor('background-color');
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color getTiming('timing'), fill getTiming('timing');

    cursor: pointer;

    &:hover {
      background-color: getColor('accent-color');
      fill: getColor('background-color');
    }
  }

  &__item:not(:first-child) {
    margin-left: 10px;
  }
}
