.address {
  @media screen and (min-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  &__item:not(:first-child) {
    margin-top: 9px;
  }

  &__link {
    color: getColor('text-contact-footer');
  }

  &__link--color {
    color: getColor('background-color');
  }
}
