.subscribe {
  position: relative;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 93px;
  }
}

.subscribe__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor('background-color');
}

.subscibe__mail {
  @media screen and (min-width: 480px) {
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    width: 358px;
  }

  border: none;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  border-radius: 4px;

  color: getColor('background-color');
  background-color: inherit;
  outline: none;
}

.subscribe__input {
  @media screen and (min-width: 480px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 20px;
  }
}
