.subscribe {
  position: relative;
  margin-top: 12px;
  margin-left: 93px;
}

.subscribe__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor('background-color');
}

.subscibe__mail {
  padding: 15px;
  width: 358px;

  border: none;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  border-radius: 4px;

  color: getColor('background-color');
  background-color: inherit;
  outline: none;
}

.subscribe__input {
  display: flex;
  margin-top: 20px;
}
