.headercont {
  @media screen and (max-width: 767px) {
    margin-top: auto;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    padding: 21px 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.headercont__item {
  &:last-child {
    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }
  }
  &:first-child {
    @media screen and (min-width: 768px) {
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }
}

.headercont__link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }

  color: getColor('title-text-color');
  font-weight: 500;
  letter-spacing: 0.02em;
}

.headercont__link--nomber {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.17;
  }
}

.headercont__link--mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.mail,
.phone {
  display: flex;
}

.icon-mail,
.icon-smartphone {
  fill: currentColor;

  margin-right: 10px;
}
