.headercont {
  @media screen and (max-width: 767px) {
    margin-top: auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;

    align-items: center;
  }
}
.headercont__item:last-child {
  @media screen and (max-width: 767px) {
    margin-top: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.headercont__link {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  color: getColor('title-text-color');
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.headercont__link--nomber {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.17;
  }
}

.headercont__link--mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.mail,
.phone {
  display: flex;
}

.icon-mail,
.icon-smartphone {
  fill: currentColor;

  margin-right: 10px;
}
