.header__logo {
  color: getColor('primary-text-color');
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__studio {
  color: getColor('primary-text-color');
}
.header__web {
  color: getColor('accent-color');
}
