.team-foto-title {
  @media screen and (min-width: 480px) {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin-bottom: 10px;
  }

  &__role {
    color: getColor('title-text-color');
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
}
